/* ===========================
   SHAS METHODS - PREMIUM CSS
   =========================== */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* Body */

body{
    background:#0b0b0b;
    color:#ffffff;
    overflow-x:hidden;
}

/* Links */

a{
    text-decoration:none;
    color:white;
}

/* Header */

header{

    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:rgba(0,0,0,.85);

    position:sticky;
    top:0;

    z-index:999;

    backdrop-filter:blur(12px);

    border-bottom:1px solid rgba(255,215,0,.15);

}

/* Logo */

.logo h1{

    color:#FFD700;

    font-size:34px;

    font-weight:700;

    letter-spacing:2px;

}

/* Navigation */

nav ul{

    display:flex;

    list-style:none;

    gap:30px;

}

nav ul li a{

    color:#fff;

    font-size:17px;

    transition:.3s;

    font-weight:500;

}

nav ul li a:hover{

    color:#FFD700;

}
